@import "./fonts.scss";
@import "./default.scss";

body {
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  background: white;
  font-family: "SF Pro Text", "-apple-system";
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

.banner__main {
  position: relative;
  min-height: 261px;
  background: linear-gradient(225deg, #894ac9 0%, #4d46b1 100%);
  color: white;

  & h1 {
    padding: 50px 25px 0px 40px;
    font-family: "SFProDisplay", "-apple-system";
    font-size: 24px;
    line-height: 41px;
    letter-spacing: 0.2611764669418335px;
    text-align: center;
  }
}

.banner__container {
  margin: 0 20px;
}

/*Banner info*/
.banner__info {
  margin: 3px;
  min-height: 100px;
}

.banner__info-item {
  padding-bottom: 12px;
}

.banner__info p {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;
}

@media screen and (min-width: 375px) {
  .banner__main {
    min-height: 419px;
    min-width: 381px;

    & h1 {
      padding-top: 80px;
      font-size: 34px;
      line-height: 41px;
      text-align: center;
      letter-spacing: 0.37px;
    }
  }
  .banner__info {
    min-height: 165px;
    padding-top: 15px;
  }

  .banner__info p img:first-child {
    margin-bottom: 10px;
  }

  .banner__info p img:nth-child(2) {
    margin-top: 15px;
  }

  .banner__info-item {
    padding-bottom: 20px;
  }
}

@media screen and(min-width:414px ) {
  .banner__main {
    min-height: 456px;
    min-width: 415px;

    & h1 {
      font-size: 34px;
    }
  }
  .banner__info {
    min-height: 174px;
    padding-top: 18px;
  }

  .banner__info p img:first-child {
    margin-bottom: 15px;
  }

  .banner__info-item {
    padding-bottom: 25px;
  }
}
/* End banner info*/

/*addition*/
.banner__close-btn {
  position: absolute;
  top: 29px;
  right: 10px;
  & img {
    width: 32px;
    height: 32px;
  }
}
.banner__women {
  position: absolute;
  left: 168px;
  top: 61px;
  z-index: 99;
}

.banner__rectangle1 {
  position: absolute;
  left: 83.44%;
  right: 12.19%;
  top: 20.77%;
  bottom: 76.76%;
  height: 14px;
  width: 14px;
  left: 267px;
  top: 122px;
  border-radius: 100px;
  background: #ee304e;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.139942);
  border-radius: 100px;
  z-index: 99;
}

.banner__rectangle2 {
  height: 14px;
  width: 14px;
  left: 267px;
  top: 171px;
  border-radius: 100px;
  position: absolute;
  left: 83.44%;
  right: 12.19%;
  top: 65.11%;
  bottom: 67.43;
  background: #04cd00;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.139942);
  border-radius: 100px;
  z-index: 99;
}

.banner__line-one {
  position: absolute;
  left: 0%;
  right: -1.56%;
  top: 33.67%;
  bottom: 76.94%;
}

.banner__line-two {
  position: absolute;
  left: 0%;
  right: -2.81%;
  top: 33.85%;
  bottom: 66.55%;
}

.banner__free {
  position: absolute;
  left: 77.78%;
  right: 7.34%;
  top: 35.77%;
  bottom: 70.06%;
}
.banner__pro {
  position: absolute;
  left: 77.81%;
  right: 6.25%;
  top: 53.47%;
  bottom: 70.77%;
}

@media screen and (min-width: 375px) {
  .banner__close-btn {
    padding: 18px 14px 0 0;
  }

  .banner__line-one {
    top: 32.67%;
  }
  .banner__line-two {
    top: 32.85%;
  }

  .banner__line-one img {
    width: 375px;
  }

  .banner__line-two img {
    width: 375px;
  }

  .banner__women {
    top: 94px;
  }

  .banner__women img {
    height: 250px;
  }

  .banner__rectangle1 {
    top: 175px;
    left: 316px;
  }

  .banner__rectangle2 {
    top: 237px;
    left: 316px;
  }

  .banner__free {
    top: 32.77%;
  }

  .banner__pro {
    top: 48.47%;
  }
}

@media screen and (min-width: 414px) {
  .banner__close-btn {
    padding: 25px 14px 0 0;
  }

  .banner__line-one {
    top: 29.67%;
  }
  .banner__line-two {
    top: 29.85%;
  }

  .banner__line-one img {
    width: 414px;
  }

  .banner__line-two img {
    width: 414px;
  }

  .banner__women {
    top: 110px;
    height: 260px;
  }

  .banner__women img {
    height: 100%;
    width: auto;
  }

  .banner__rectangle1 {
    top: 177px;
    left: 341px;
  }

  .banner__rectangle2 {
    top: 246px;
    left: 341px;
  }

  .banner__free {
    top: 30.77%;
  }

  .banner__pro {
    top: 45.47%;
  }
}
/*End addition*/

/*Slider*/
.slider {
  position: absolute;
  width: 100%;
  top: 200px;
  margin: 0 auto;
  color: #1a1a1a;
}

.slider__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px 15px 12px 15px;
}

.slider__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slider__user {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: right;
  color: #1a1a1a;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.slider__title {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
}

.swiper {
  overflow: visible;
  width: 280px;
  height: 110px;
}

.swiper-slide {
  margin-right: 5px;
  background: #f3f2f9;
  backdrop-filter: blur(9.06094px);
  border-radius: 10px;
}

.fa-star {
  color: #fcbf59;
}

@media screen and (min-width: 375px) {
  .swiper {
    width: 335px;
    height: 145px;
  }

  .slider {
    top: 330px;
  }

  .slider__container {
    margin: 20px;
  }

  .slider__title {
    margin-bottom: 10px;
  }

  .slider__review {
    margin-top: 10px;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
  }
}

@media screen and (min-width: 414px) {
  .swiper {
    width: 374px;
    height: 145px;
  }

  .slider {
    top: 380px !important;
  }
}
/*End slider*/

/*Banner costs*/
.banner__costs {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  color: #1a1a1a;
}

.banner__costs-one {
  border-radius: 5px;
  min-width: 88px;
  height: 112px;
  background: #f3f2f9;
  text-align: center;
  color: #1a1a1a;
  margin-top: 23px;
}

.banner__costs-count {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: center;
  padding-bottom: 5px;
}

.banner__costs-one p:first-child {
  margin-top: 4px;
  margin-bottom: 5px;
  size: 13px;
  line-height: 15.23px;
  text-align: center;
}

.banner__costs-one p:nth-child(2) {
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: -0.30000004172325134px;
  text-align: center;
  margin-bottom: 5px;
}

.banner__costs-one p:nth-child(3) {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: -0.2727273106575012px;
  text-align: center;
}

.banner__costs-two {
  border-radius: 5px;
  min-width: 88px;
  height: 135px;
  background: #f3f2f9;
  color: #1a1a1a;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: center;
}
.costs-two__discount {
  top: 3px;
  padding: 3px 12.5px 3px 12.5px;
  background: #fcbf59;
  border-radius: 4px 4px 0 0px;
  font-size: 11px;
  color: black;
  line-height: 15px;
  letter-spacing: 0.6600000262260437px;
  text-align: center;
}

.banner__costs-two p:nth-child(1) {
  margin-top: 4px;
  margin-bottom: 5px;
  size: 13px;
  line-height: 15.23px;
  text-align: center;
}

.costs-two__price-year {
  margin-top: 5px;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: -0.30000004172325134px;
  text-align: center;
  padding-bottom: 3px;
}

.costs-two__price-mnth {
  margin-top: 5px;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: -0.2727273106575012px;
  text-align: center;
}

.banner__costs-three {
  border-radius: 5px;
  min-width: 88px;
  height: 135px;
  background: #f3f2f9;
  color: #1a1a1a;
}

.costs-three__discount {
  top: 3px;
  padding: 3px 12.5px 3px 12.5px;
  background: #fca759;
  border-radius: 4px 4px 0 0px;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.6600000262260437px;
  text-align: center;
}

.banner__costs-three p:nth-child(1) {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0px;
  text-align: center;
}

.costs-three__price-year {
  padding-bottom: 3px;
  padding-top: 5px;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: -0.30000004172325134px;
  text-align: center;
}

.costs-three__price-mnth {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: -0.2727273106575012px;
  text-align: center;
  padding-bottom: 8px;
}

.costs-three__sale {
  background: #fca759;
  padding: 2px 32.5px 5px 35.5px;
  border-radius: 0 0 5px 5px;
  font-size: 7px;
  line-height: 15px;
  letter-spacing: 0.41999998688697815px;
  text-align: center;
}

@media screen and(min-width:375px) {
  .banner__costs {
    margin-top: 80px;
  }

  .banner__costs-one {
    min-width: 105px;
    height: 131px;
  }

  .banner__costs-two,
  .banner__costs-three {
    height: 156px;
    width: 105px;
  }

  .banner__costs-count {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0px;
    padding-bottom: 7px;
  }
  .banner__costs-one p:first-child,
  .banner__costs-one p:nth-child(2),
  .banner__costs-two p:nth-child(1),
  .banner__costs-two p:nth-child(2),
  .banner__costs-three p:nth-child(1),
  .banner__costs-three p:nth-child(2) {
    margin-bottom: 7px;
  }

  .banner__costs-one p:nth-child(3),
  .costs-two__price-mnth,
  .costs-three__price-mnth {
    font-size: 11px;
    line-height: 13px;
    letter-spacing: -0.30000004172325134px;
  }

  .banner__info-item p:nth-child(3) {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.3545455038547516px;
  }
  .costs-three__sale {
    font-size: 9px;
  }
}

@media screen and(min-width:414px) {
  .banner__costs {
    margin-top: 100px;
  }

  .banner__costs-one {
    min-height: 151px;
    min-width: 118px;
    margin-top: 15px;
  }

  .banner__costs-two,
  .banner__costs-three {
    height: 166px;
    width: 118px;
  }

  .banner__costs-one p:first-child,
  .banner__costs-one p:nth-child(2),
  .banner__costs-two p:nth-child(1),
  .banner__costs-two p:nth-child(2),
  .banner__costs-three p:nth-child(1),
  .banner__costs-three p:nth-child(2) {
    margin-bottom: 10px;
  }

  .costs-three__price-mnth {
    padding-bottom: 14px;
  }
}
/*End banner costs*/

/*Banner button*/
.banner__btn {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 17px;
  & button {
    height: 50px;
    width: 280px;
    left: 0px;
    top: 0px;
    border-radius: 5px;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.03519999980926514px;
    text-align: center;
    background: linear-gradient(225deg, #542285 0%, #222266 100%);
    color: #ffffff;
  }
}

@media screen and(min-width:375px) {
  .banner__btn {
    margin-top: 35px;
    & button {
      width: 374px;
    }
  }
}
/*End banner button*/

/*Banner bottom*/
.banner__bottom {
  font-size: 11px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.4;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0px;
  text-align: center;
}

@media screen and(min-width:375px) {
  .banner__bottom {
    margin-top: 30px;
  }
}
/*End banner bottom*/

.active {
  background: linear-gradient(225deg, #894ac9 0%, #4d46b1 100%);
  color: #ffffff;
  & .costs-three__discount,
  .costs-three__sale {
    color: #1a1a1a;
  }
}

.dark-theme {
  background: #000000;
}

.dark-theme-slide {
  background: linear-gradient(225deg, #262526 0%, #19181a 100%);
  color: #ffffff;
}

.dark-theme-item {
  background: #373640;
  color: #ffffff;
  & .costs-three__discount,
  .costs-three__sale {
    color: #1a1a1a;
  }
}
